<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>
<style>
  th, td {
    border: 1px solid black;
  }
</style>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

</head>

<!-- Body format taken from calc.html and reworked for display only -->
<body>
  <h1> Brevet Controls </h1>
  <table class="submitted_controls" style="width:100%">
    <tr>
      <th> Km </th>
      <th> Open Time </th>
      <th> Close Time </th>
    </tr>
    {% for item in items %}
      <tr class="control">
        <td style="width:10%"> {{ item.km }} </td>
        <td style="width:45%"> {{ item.open_time }} </td>
        <td style="width:45%"> {{ item.close_time }} </td>
      </tr>
    {% endfor %}
  </table>

  <!-- Back button takes you back to homepage -->
  <input id="back" type="button" value="Back" onclick="back();" />

  <script type="text/javascript">
    function back() {
      window.location = "/index";
    }
  </script>
</body>
</html>

